.container {
  width: calc(100% - 220px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;

  .container__head-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .container__head-block__title {
      h2 {
        font-size: 1.6em;
        color: #000000d8;
      }
    }

    .container__head-block__search {
      position: sticky;
      top: 0;
      width: 70%;
      height: 45px;
      padding: 16px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.03);
      border: 2px solid transparent;

      .search-icon {
        font-size: 1.2em;
        color: rgba(0, 0, 0, 0.5);
      }

      input {
        width: 100%;
        height: inherit;
        margin-left: 16px;
        border: none;
        background-color: transparent;
        border-radius: 10px;
        font-weight: 500;
      }
    }

    .container__head-block__search:focus-within {
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 12px -2px rgb(34 60 80 / 30%);
      transition: 0.2s linear;
    }

    .add-user__btn {
      padding: 0 40px;
      height: 45px;
    }
  }

  .data-table {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    overflow-y: auto;
    margin-top: 40px;

    .data-table__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 10px 12px 10px;
      transition: 0.2s linear;

      .dots-table-hidden {
        visibility: hidden;
      }

      .dots-vertical-icon {
        cursor: pointer;
        font-size: 1.2em;
      }

      .edit-icon,
      .remove-icon {
        font-size: 20px;
      }

      .edit-icon {
        font-size: 22px;
        cursor: pointer;
        path {
          fill: #3f5888;
          transition: 0.1s linear;
        }
      }

      .edit-icon:hover {
        path {
          fill: #2a4473;
        }
      }

      .remove-icon {
        cursor: pointer;
        path {
          fill: rgb(201, 30, 30);
          transition: 0.1s linear;
        }
      }

      .remove-icon:hover {
        path {
          fill: rgb(160, 24, 24);
        }
      }
    }

    .data-table__row:not(:first-child):hover {
      background-color: #f6f6f6;
    }

    .data-table__row:not(:last-child) {
      border-bottom: 1px solid #0000001e;
    }

    .data-table__row-caption {
      position: sticky;
    }

    .data-table__th-item,
    .data-table__item {
      width: 30%;
    }

    .data-table__th-item {
      display: flex;
      flex-direction: column;

      .data-table__th-title {
        font-weight: 700;
      }

      .data-table__th-subtitle {
        font-size: 12px;
        color: #000000b0;
      }
    }

    .data-table__item {
      display: flex;
      align-items: flex-start;
    }
  }

  .permission-block {
    display: none;
    margin-top: 45px;
    padding: 20px 25px;
    box-shadow: 0px 0px 23px -8px rgba(0, 125, 153, 0.43);
    border-radius: 5px;

    .permission-block__title {
      font-weight: bold;
      font-size: 20px;
    }

    .items {
      margin-top: 25px;
      display: flex;
      align-items: center;

      .items__input-block {
        margin-right: 30px;
      }
    }

    .add-permission__save-btn {
      width: 180px;
      height: 45px;
    }
  }
}

.show-block {
  display: block !important;
}

@media (max-width: 580px) {
  .container {
    width: 100%;
    padding: 30px 10px;

    .container__head-block {
      flex-direction: column;

      .container__head-block__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .container__head-block__search {
        width: 100%;
        margin: 20px 0;

        input {
          width: 100%;
          height: inherit;
          margin-left: 16px;
          border: none;
          background-color: transparent;
          border-radius: 10px;
          font-weight: 500;
        }
      }

      .container__head-block__search:focus-within {
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 12px -2px rgb(34 60 80 / 30%);
        transition: 0.2s linear;
      }

      .add-user__btn {
        padding: 0 40px;
        height: 45px;
      }
    }

    .data-table {
      .data-table__row {
        width: 800px;
      }
    }

    .permission-block {
      display: none;
      flex-direction: column;
      margin-top: 45px;
      padding: 15px 20px;
      box-shadow: 0px 0px 23px -8px rgba(0, 125, 153, 0.43);
      border-radius: 5px;

      .permission-block__title {
        font-weight: bold;
        font-size: 20px;
      }

      .items {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .items__input-block {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }

      .add-permission__save-btn {
        width: 180px;
        height: 45px;
      }
    }
  }

  .show-block {
    display: flex !important;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 30px 10px;

    .container__head-block {
      flex-direction: column;

      .container__head-block__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .container__head-block__search {
        width: 100%;
        margin: 20px 0;

        input {
          width: 100%;
          height: inherit;
          margin-left: 16px;
          border: none;
          background-color: transparent;
          border-radius: 10px;
          font-weight: 500;
        }
      }

      .container__head-block__search:focus-within {
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 12px -2px rgb(34 60 80 / 30%);
        transition: 0.2s linear;
      }

      .add-user__btn {
        padding: 0 40px;
        height: 45px;
      }
    }

    .data-table {
      .data-table__row {
        width: 800px;
      }
    }

    .permission-block {
      display: none;
      flex-direction: column;
      margin-top: 45px;
      padding: 15px 20px;
      box-shadow: 0px 0px 23px -8px rgba(0, 125, 153, 0.43);
      border-radius: 5px;

      .permission-block__title {
        font-weight: bold;
        font-size: 20px;
      }

      .items {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .items__input-block {
          margin-right: 0;
        }
      }

      .add-permission__save-btn {
        width: 140px;
        height: 45px;
      }
    }
  }

  .show-block {
    display: flex !important;
  }
}
