.home-block {
  position: relative;
  width: calc(100% - 250px);
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;

  .home-block__header {
    position: relative;
    z-index: 11111;
    display: flex;
    align-items: center;
    padding: 20px;

    .home-block__header-search {
      position: sticky;
      top: 0;
      width: 100%;
      height: 50px;
      padding: 16px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.05);
      border: 2px solid transparent;

      .search-icon {
        font-size: 1.2em;
        color: rgba(0, 0, 0, 0.5);
      }

      input {
        width: 100%;
        height: inherit;
        margin-left: 16px;
        border: none;
        background-color: transparent;
        border-radius: 10px;
        font-weight: 500;
      }
    }

    .home-block__header-search:focus-within {
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 12px -2px rgb(34 60 80 / 30%);
      transition: 0.2s linear;
    }
  }

  .home-block__content-section {
    position: relative;
    padding: 0 20px;
    height: 100vh;
    flex: 1;
    flex-grow: 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .home-block__content-section__left {
      position: sticky;
      top: 25px;
      display: flex;
      align-items: center;
    }

    .table-block {
      display: flex;
      flex-direction: column;
      width: 170px;
      height: 80vh;
      padding: 20px;
      box-shadow: 0px 0px 23px -8px rgba(0, 125, 153, 0.43);
      border-radius: 3px;
    }

    .table-caption {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(63, 88, 136, 0.2);

      .plus-icon {
        cursor: pointer;
        font-size: 18px;
        transition: 0.1s linear;

        path {
          fill: #2e446d;
          transition: 0.1s linear;
        }
      }

      .plus-icon:hover {
        path {
          fill: #3f5888;
        }
      }

      .plus-icon:active {
        transform: scale(0.9);
      }
    }

    .table-input-piezo {
      display: flex;
      align-items: center;
      margin-top: 10px;

      input {
        height: 25px;
        border-radius: 1px;
        border-bottom: 1px solid #000;
      }

      .check-icon {
        cursor: pointer;
        font-size: 18px;

        path {
          transition: 0.1s linear;
        }
      }

      .check-icon:hover {
        path {
          fill: rgb(31, 188, 31);
        }
      }
    }

    .table-items {
      margin-top: 20px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      height: 90%;
      overflow-y: auto;

      .table-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        border-radius: 15px;
        padding: 12px 10px;
        transition: 0.3s linear;

        .table-item__text {
          transition: 0.3s linear;
        }

        svg {
          width: 15px;
          font-size: 16px;
        }
      }

      .table-item__active {
        background-color: #3f5888;

        .table-item__text,
        .dots-vertical-icon > path {
          color: #ffffffe7;
        }
      }

      .table-item:hover {
        background-color: #3f5888;
      }

      .table-item:hover .table-item__text,
      .table-item:hover .dots-vertical-icon > path {
        color: #ffffffe7;
      }
    }

    .piezometers-block {
      width: 140px;
    }

    .data-block {
      flex-grow: 3;
      display: flex;
      flex-direction: column;
      height: auto;
      min-height: 580px;

      .filter-block,
      .result-grid {
        box-shadow: 0px 0px 23px -8px rgba(0, 125, 153, 0.43);
        border-radius: 3px;
      }

      .filter-block {
        z-index: 11111;
        height: 80px;
        margin-bottom: 20px;
        padding: 0 20px;
        display: flex;
        align-items: center;

        .filter-block__date-to,
        .filter-block__apply-btn,
        .filter-block__fields,
        .filter-block__clear-btn {
          margin-left: 25px;
        }

        .filter-block__clear-btn {
          border: none;
          background-color: #4a7faf;
          transition: 0.2s linear;
        }

        .clear-filter__btn:hover {
          background-color: #32608c;
        }

        .filter-block__date-from,
        .filter-block__date-to {
          display: flex;
          align-items: center;

          span {
            margin-right: 10px;
            font-weight: 600;
          }

          input[type='date'] {
            height: 40px;
            padding: 0 8px;
            border-radius: 8px;
            border: 2px solid #3f58882d;
          }
        }

        .filter-block__fields {
          display: flex;
          align-items: center;

          input {
            height: 40px;
          }
        }
      }

      .result-grid__disable {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 480px;

        span {
          opacity: 0.3;
          font-size: 2em;
          font-weight: bold;
        }
      }

      .result-grid {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px;

        .result-grid__top-block {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .bind-sensor__btn {
            height: 45px;
            padding: 0 25px;
          }

          .status-panel {
            display: flex;
            align-items: center;
            height: 45px;
            padding: 0 20px;
            box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.4);
            border-radius: 8px;

            .status-panel__item:not(:last-child) {
              border-right: 2px solid #00000013;
              margin-right: 10px;
              padding-right: 10px;
            }
          }
        }

        .result-grid__control-block {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          .info-sensor {
            width: 325px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .info-sensor__title {
              font-weight: 700;
            }

            .info-sensor__name {
              color: #0069b5d9;
              font-weight: 700;
            }

            .info-sensor__status {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: #00af5b;
              margin-top: 2px;
              box-shadow: 0px 0px 3px rgba(5, 111, 66, 0.5);
            }

            .info-sensor__unbind-sensor {
              cursor: pointer;
              color: #ff2828;
              border-bottom: 1px solid #ff2828;
              font-size: 12px;
              margin-left: 10px;
              transition: 0.1s linear;
            }

            .info-sensor__unbind-sensor:hover {
              color: #d71616;
            }

            .select-block {
              margin-top: 10px;

              input {
                height: 40px;
              }
            }
          }

          .info-sensor-not {
            flex-direction: column;
            align-items: flex-start;
          }

          .control-buttons {
            display: flex;
            align-items: center;

            .add-excel__btn {
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 600;
              margin-left: 20px;

              .download-icon {
                font-size: 1.1em;
                margin-right: 5px;

                path {
                  color: #3f5888;
                  transition: 0.1s linear;
                }
              }
            }
          }
        }

        .data-table {
          display: flex;
          flex-direction: column;
          height: auto;
          margin-top: 15px;

          .data-table__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px 10px 0;

            .dots-table-hidden {
              visibility: hidden;
            }

            .dots-vertical-icon {
              cursor: pointer;
              font-size: 1.2em;
            }

            .edit-icon,
            .remove-icon {
              font-size: 20px;
            }

            .edit-icon {
              font-size: 22px;
              cursor: pointer;
              margin-right: 10px;

              path {
                fill: #3f5888;
                transition: 0.1s linear;
              }
            }

            .edit-icon:hover {
              path {
                fill: #2a4473;
              }
            }

            .remove-icon {
              cursor: pointer;
              path {
                fill: rgb(201, 30, 30);
                transition: 0.1s linear;
              }
            }

            .remove-icon:hover {
              path {
                fill: rgb(160, 24, 24);
              }
            }
          }

          .data-table__row:not(:last-child) {
            border-bottom: 1px solid #0000001e;
          }

          .data-table__row-caption {
            position: sticky;
          }

          .data-table__th-item,
          .data-table__item {
            width: 35%;
          }

          .data-table__item:first-child,
          .data-table__th-item:first-child,
          .data-table__th-item:nth-child(2),
          .data-table__item:nth-child(2) {
            width: 20%;
          }

          .data-table__th-item {
            display: flex;
            flex-direction: column;

            .data-table__th-title {
              font-weight: 700;
            }

            .data-table__th-subtitle {
              font-size: 12px;
              color: #000000b0;
            }
          }

          .data-table__item {
            display: flex;
            align-items: flex-start;
          }
        }
      }
    }

    .arrow-right-icon {
      font-size: 2em;
      margin: 0 12px;

      path {
        color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  .home-block__footer {
    padding: 0 40px;
    margin-top: 25px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -3px 34px -16px rgba(0, 0, 0, 0.15);

    .home-block__footer-copyright {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.65);
    }

    .home-block__footer-version {
      color: rgba(0, 0, 0, 0.26);
      font-weight: 600;
    }
  }
}
