.message-box {
  position: fixed;
  z-index: 11111111111;
  top: 30px;
  right: 50px;
  padding: 0 15px;
  width: auto;
  height: 50px;
  background-color: rgba(37, 118, 79, 1);
  box-shadow: 0px 0px 23px -8px rgb(0 125 153 / 43%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .message-box__text {
    font-weight: 600;
    color: #fffffff0;
  }
}

// Стили для компонента AddData
input[type='text']:disabled {
  color: #000000ac;
}

.add-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 11111111111;
  width: 80%;
  height: 75vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 23px -8px rgb(0 125 153 / 43%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: 2em;
    color: #000000c3;
  }

  .add-modal-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;

    .add-modal__row {
      // width: 60%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .add-modal__input-block {
        display: flex;
        flex-direction: column;
        margin-right: 40px;

        label {
          font-weight: 600;
          margin-bottom: 10px;
        }

        input {
          height: 30px;
          padding: 0 5px;
          border-radius: 5px;
          border: none;
          text-indent: 5px;
          border: 1px solid #3f588814;
          // background-color: #f7f7f7;
          transition: 0.1s linear;
        }

        .add-modal__input-block__radio-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          input {
            width: auto;
          }

          label {
            margin-bottom: 3px;
            margin-left: 5px;
          }
        }

        input[type='date'] {
          text-indent: 3px;
        }

        input:focus {
          border: 1px solid #3f5888;
        }
      }

      .add-modal__input-block:has(input[name='FIO']) {
        width: 25%;
      }
    }
  }

  .add-modal__btn-block {
    display: flex;
    justify-content: flex-end;

    .add-modal__save-btn {
      width: 200px;
      height: 45px;
    }
  }

  .close-icon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 26px;
    transition: 0.1s linear;
  }

  .close-icon:hover path {
    color: rgb(237, 68, 68);
  }
}

/* change user form */
.change-user-modal {
  height: 450px;

  .change-user-form {
    input:not(.select-block input) {
      height: 45px !important;
    }

    .change-user-perm__select-block {
      flex: 1;
    }

    .change-user-obj__select-block {
      flex: 1;
    }

    .add-modal__row {
      align-items: flex-start;
    }

    .select-user-objects {
      div[role='button'] svg {
        fill: #fff;
        margin-top: 2px;
      }

      color: #c73d3d;
    }
  }
}

.error-color {
  background-color: #921515;
}
